*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: #2a2d31;
    color: black;
}

.main-photo{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.main-photo img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

@media screen and (max-width: 900px) {
    .comment_content{
        
        width: 92% !important; /* Porcentaje más amplio para el contenido en pantallas pequeñas */
       
    }
}
.title-page{
    margin-top: 15px;
    margin-left: 30px;
    padding-bottom: 15px;
    color: rgb(168, 168, 168);;
}
.bg-body-tertiary{
    background-color: #1c1e21 !important;

}

nav ul li a{
    margin-left: 15px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: rgb(199, 198, 198);
    background-color: #1c1e21;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
  
  /* Efecto de hover */
.button:hover {
    background-color: #eee; /* Cambia el color de fondo al pasar el ratón */
    color: #333; /* Cambia el color del texto al pasar el ratón */
 
}  

.button:focus {
    background-color: #eee !important; /* Cambia el color de fondo al pasar el ratón */
    color: #333; /* Cambia el color del texto al pasar el ratón */
}  



header{
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 0 0  5px;
}
footer{
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

ul {
    list-style: none;
}
li {
    list-style: none;
}



#certificates{
    background-image: url(https://www.xtrafondos.com/descargar.php?id=3057&resolucion=2560x1440);
    background-attachment: fixed;
    background-size: 100% 100%;
    padding-top: 40px;
    padding-bottom: 40px;
}
.image{
    width: 70%;
    margin-right: 40px;
    margin-bottom: 15px;
}

.image img{
    width: 100%;
    height: 100%;
}


.cards{
    display: inline-block;
    width: 80%;
    margin-bottom: 50px;
    margin-top: 30px;
    color: rgba(0,0,0, 0.87);
    background: transparent;
    
    
}

.card-left{
    position: relative;
    left: 30%;
}

.card-right{
    position: relative;
    left: 30px;
}

.cards .card-image {
    display: block;
    height: 50%;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    
}

.data{
    width: 70%;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    margin-bottom: 11px;

}

.data .title{
    text-transform: uppercase;
    color: black;
    font-size: 15px;
    background-color: white;
    opacity: 0.85;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
}

.data .content{
    color: black;
    font-size: 13px;
    background-color: white;
    opacity: 0.85;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.categorys{
    height: 20%;
}
/* Colores para las insignias */

.badge{
    margin: 3px;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);

}

.bootstrap{
    background-color: purple;
}
.jquery{
    background-color: #0669AD;
}
.mysql{
    background-color: #E59208;
}
.django{
    background-color: #084432;
}
.css{
    background-color: #4DD8F7;
}
.sql{
    background-color: #12274d;
}
.tkinter{
    background-color: #FFE264;
    color: #080808;
}
.flask{
    background-color: #080808;
}
.javascript{
    background-color: #F7E025;
    color: #080808;
}
.fcc{
    background-color: #12122A;
}
.hr{
    background-color: #32BE64;
}
.udemy{
    background-color: #C038F5;
}

/* estilos de index */

#index1{
    background-image: url(https://i.pinimg.com/564x/c8/b3/1b/c8b31b2b163492e845a2ab5c89bd5f5f.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    
}
#index1 .card{
    opacity: 0.9;
}
#index2{
    background-image: url(https://i.pinimg.com/564x/3c/a9/93/3ca993ce27d19e6e94ef130bb08975a3.jpg);
    background-attachment: fixed;
    padding-top: 60px;
    background-size: 100% 100%;
    padding-bottom: 50px;
}
#index2 .card{
    opacity: 0.85;
    border: none;
}
#index3{
    background-image: url(https://images.pexels.com/photos/4175070/pexels-photo-4175070.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-attachment: fixed;
    background-size: 100% 100%;
    height: auto;
    padding-top: 60px;
    padding-bottom: 60px;
}
#index3-title{
    width: 28rem;
    margin:auto;
    margin-top: 40px;
    text-align: center;
    background-color: white;
    margin-bottom: 20px;
    opacity: 0.80;
    border-radius: 6px;
    font-size: large;
    padding-top: 8px;
    padding-bottom: 3px;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
#btn-comments{
    margin: auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

#index2 .card,
#index3 .comment_card
{
    margin: auto;
}
#index4{
    background-image: url(https://www.xtrafondos.com/descargar.php?id=3057&resolucion=2560x1440);
    background-attachment: fixed;
    background-size: 100% 100%;
    padding-top: 40px;
    padding-bottom: 40px;
}


.title-index{
    color: white;
}
.content-index{
    color: rgb(238, 236, 236);
}
.index-subtitle{
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    color: white;   
}
.carousel{
    width: 50%;
    margin: 0 auto;
}
.carousel, .carousel-inner > .carousel-item > img {
    height: 500px;
    width: 600px;
    padding-bottom: 40px;
}
.carousel{
    padding-bottom: 20px;
}
.carousel-control-prev-icon{
    background-color:#080808;
    border-radius: 12px;
    margin-right: 50px;
}
.carousel-control-next-icon{
    background-color:#080808;
    border-radius: 12px;
    margin-left: 50px;
}
#btn-certificate {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}

#btn-certificate a{
    padding-bottom: 20px;
    background-color: #13101C;
    color:white;
}

#index1 .card{
    margin: auto;
    margin-top: 30px
}

.card-text, .card-title{
    color: #080808;
}

.card{
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

/* Estilos del registro */


#register_box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -150px;
}

.form {
    background-color: white;
    width: 400px;
    border-radius: 8px;
    padding: 40px 40px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}

#register_box form .register_field input[type="text"],
#register_box form .register_field input[type="email"],
#register_box form .register_field input[type="password"]{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border: 1px solid #2a2d31;
    border-radius: 7px;
    font-size: 16px;
    padding: 0 20px;
    outline: none;
    background: none;
    z-index: 1;
}

::placeholder {
    color: transparent;
  }

.register_field{
    position: relative;
    height: 45px;
    width: 90%;
    margin-bottom: 27px;
}
.labels{
    position: absolute;
    top: -22px;
    left: 15px;
    padding: 0 4px;
    background-color: white;
    color: #2a2d31;
    font-size: 16px;
    transition: 0.5s;
    z-index: 0;
}


#comment_container{
    width: 100%;
    min-height: 100%;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 20%;
    margin: auto;
    background-image: url(https://images.pexels.com/photos/4175070/pexels-photo-4175070.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-attachment: fixed;
    background-size: 100% 100%;
    
}
.alert-warning{
    margin-bottom: 30px;
}

/* .row{
    border-color: #0669AD;
    border-style: dashed;
}
.col{
    border-color: #0669AD;
    border-style: dashed;
} */


#login{
    margin-top: 55px;
}
.comment_content{
    width: 28rem;
    margin: auto;
}
.comment_card{
    opacity: 0.7;
    color: black;
    font-weight: 600;   
    margin: auto;
}
.email{
    font-size: 11px;
    color: rgb(58, 57, 57);
    margin-top: -2px;
    
}
.comments_top{
    width: 28rem;
    padding-top: 20px;
    padding-bottom: 30px;
    margin: auto;
    text-align: center;
    
}

#acceder{
    margin-left: 10px;
    margin-bottom: 10px;
}
#registrarse{
    margin-bottom: 10px;
}

#salir{
    display: inline-block;
    margin: auto;
    margin-left: 10px;
    margin-top: 14px;
    text-align: center;
    padding-bottom: 70px;
}
#comentar{
    height: 140px;
    margin: auto;
    max-width: 60rem;
    margin-bottom: 30px;
}
.profile{
    float: left !important;
    font-size:small;
    text-align: center;

}
.name-profile{
    text-align: justify;
    position: relative;
    top: 15px;
}
#comentar .button{
    width: 90%;
    margin-left: 5%;
    background-color: white;
    color: rgb(0, 0, 0);
    font-weight: 600;
}
#comentar .button:hover{
    background-color: rgb(214, 214, 214);
    color: black;
}
.comment_field input[type="text"]{
    height: 45px;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: rgb(219, 218, 218);
    border-color: white;
    border-style: solid;
}
.comment_field label{
    background-color: white;
    margin-left: 6%;
    padding-top: 10px;
    color: black;
    font-weight: 700;

}
.estilo_comentario{
    background-color: white;
    font-weight: 600;
    opacity: 0.65;
    border-radius: 8px;
}
.foto-perfil{
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: -2px;
    margin-right: 10px;
    margin-bottom: 5px;
}
.fecha{
    font-size: 10px;
    position: absolute;
    right: 0;
    margin-right: 7px;
}

/* -------Experiencia alboral-------- */
.experience-card{
    margin: auto;
    margin-top: 50px;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.experience-container{
    background-image: url(https://i.pinimg.com/564x/3c/a9/93/3ca993ce27d19e6e94ef130bb08975a3.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
    padding-top: 60px;
    padding-bottom: 200px;
}

/* ---------Estilos sobre mi-------- */
#about1{
    background-color: #F3C295;

}
#about2{
    background-color: #85D1DD;
}
#about3{
    background-color: #396578;
}
#about4{
    background-color: #171E38;
}
#about1 .card,
#about2 .card,
#about3 .card,
#about4 .card
{
    margin: auto;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

#about1,
#about2,
#about3,
#about4{
    padding-top: 60px;
    padding-bottom: 60px;
}

.card-link{
    text-decoration: none;
}