{% extends 'mainapp/layouts/layout.html'%}


{% block title %} {{title}} {% endblock%}

{% block content %}
    <div id="index1" class="row">
        <div class="card border-light  mb-3" style="width: 28rem;">
            <div class="card-header">
                <h5 class="card-title">Bienvenido a mi pagina web!!</h5>
            </div>
            <div class="card-body text-primary">
              
              <p class="card-text">Esta pagina web fue diseñada en su totalidad por mi usando Python, Django, HTML, CSS, Bootstrap y SQlite. El objetivo de esta página es exponer informacion mas extensa de mi mismo en el ámbito laboral y personal.
              </p>
            </div>
        </div>
    </div>
    <div id="index2" class="index">
        <div id="index3-title"><h5>Ultima experiencia laboral </h5></div>
        <div class="experience-card card mb-3" style="width: 28rem;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{experiencia.image.url}}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="card-title"> {{experiencia.title}} </h5>
                    <p class="card-text"> {{experiencia.content}} </p>
                    <p class="card-text"><small class="text-body-secondary">{{experiencia.start_date}} / {{experiencia.end_date}} </small></p>
                    </div>
                </div>
            </div>
        </div>
        <div id="btn-comments"><a href={% url 'experience' %} class="btn btn-light estilo_comentario">Ver todos</a></div>
    </div>
    <div id="index3" class="index">
        <div id="index3-title"><h5>Últimos 4 comentarios</h5></div>
        {% for comentario in comentarios %}
        <div class="comment_card card mb-3" style="width: 28rem;">
            <div class="card-header"> 
                {% if comentario.user.foto_perfil %}
                    <img class="foto-perfil" src={{comentario.user.foto_perfil.url}}>
                {% else%}
                    <img class="foto-perfil" src='/media/fotos_perfil/gatitodef.jpg'>
                {% endif %}
                {{comentario.user.nombres}} {{comentario.user.apellidos}} <span class="fecha">{{comentario.created_at|date:"d/m/Y"}}</span>
                <div class="email">{{comentario.user.empleo}} - {{comentario.user.email}}</div>
            </div>
            
            <div class="card-body">{{comentario.content}}</div>
        </div>
        {% endfor %}
        <div id="btn-comments"><a href={% url 'comments' %} class="btn btn-light estilo_comentario">Ver todos</a></div>
    </div>


    <div id="index4" >
        <div class="index-subtitle row"><h2>Ultimos 4 certificados obtenidos</h2></div>
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel" style="max-width: 95%;">
            <div class="carousel-inner">
                {% for certificate in certificates %}
                    <div class="carousel-item active" data-bs-interval="10000">
                        <img src="{{certificate.image.url}}" class="d-block w-100" alt="...">
                    </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div id="btn-certificate">
            <a href={% url 'certifications' %} class="button">Ver todos</a>
        </div>
    </div>
    
    
{% endblock%}

