{% extends 'mainapp/layouts/layout.html'%}


{% block title %} 
    {{title}}
    {% if user.email %}
        {{request.user.first_name}}
    {% endif %}
{% endblock%}

{% block content %}
    <div id="comment_container">
        <div class="comment_content">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success" role="alert" style="width: 28rem; margin: auto;">
                        {{message}}
                    </div>
                {% endfor %}
            {% endif %}
            {% if user.email %}
                <div class="profile comment_card card mb-3" style="width: 14rem;">
                    <div class="card-header"> 
                        {% if request.user.foto_perfil %}
                            <img class="foto-perfil" src={{request.user.foto_perfil.url}}>
                        {% else%}
                            <img class="foto-perfil" src='/media/fotos_perfil/gatitodef.jpg'>
                        {% endif %}
                        <div class="name-profile">{{request.user.nombres}} {{request.user.apellidos}}</div> 
                        {% if request.user == comentario.user %}
                            <a href={% url 'borrar' id=comentario.id %}>Eliminar</a>
                        {% endif %}
                    </div>
                </div>
                <div id="salir"><a href={% url 'logout' %}  class="btn btn-light estilo_comentario">Salir</a></div>
                <form id="comentar" class="estilo_comentario" method="post" action="" style="width: 28rem;">
                    {% if comment_form.errors %}
                            <div class="alert alert-warning" role="alert">
                                {{comment_form.errors}}
                            </div>
                    {% endif %}
                    {% csrf_token %}
                    {% for field in comment_form %}
                        <div class="comment_field estilo_comentario">
                            <label for="content" class="estilo_comentario" >¿Que piensas, {{request.user.nombres}}?</label>
                            <br>
                            {{field}}
                        </div>
                    {% endfor %}
                    <input type="submit" class="button" value="Comentar" />  
                </form>
            {% else %}
                <div class="comments_top">
                    <span><a href={% url 'register' %} id="registrarse"class="btn btn-light estilo_comentario">Registrarse</a></span>
                    <span><a href={% url 'login' %} id="acceder"  class="btn btn-light estilo_comentario">Acceder</a></span>
                </div>
            {% endif %}
            
                {% for comentario in comentarios %}
                    <div class="comment_card card mb-3" style="width: 28rem;">
                        <div class="card-header"> 
                            {% if comentario.user.foto_perfil %}
                                <img class="foto-perfil" src={{comentario.user.foto_perfil.url}}>
                            {% else%}
                                <img class="foto-perfil" src='/media/fotos_perfil/gatitodef.jpg'>
                            {% endif %}
                            <div class="username">{{comentario.user.username}}</div> <span class="fecha">{{comentario.created_at|date:"d/m/Y"}}</span>
                            <div class="email">{{comentario.user.nombres}} {{comentario.user.apellidos}} - {{comentario.user.empleo}} </div>
                            {% if request.user == comentario.user %}
                                <div class="eliminar"><a href={% url 'borrar' id=comentario.id %}>Eliminar</a></div>
                            {% endif %}
                        </div>
                        
                        <div class="card-body">{{comentario.content}}</div>
                    </div>
                {% endfor %}
        </div>
    </div>
{% endblock%}